@media screen and (min-width: 1280px) {
  /* ___________________ HERO __________________ */

  .section-hero {
    height: 650px;
  }

  .hero-title {
    width: 400px;
    font-size: 42px;
  }

  .hero-text {
    width: 550px;
    font-size: 20px;
  }

  /* ___________________ ABOUT __________________ */

  .about-text {
    width: 900px;
  }

  .img-about-section {
    width: 800px;
  }

  /* ___________________ SERVICES __________________ */

  .services:not(:last-child) {
    margin-right: 30px;
  }

  .list-services {
    max-width: 400px;
  }
}
